Source: khelpcenter
Section: doc
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake (>= 2.8.12),
               debhelper (>= 9),
               extra-cmake-modules (>= 1.3.0~),
               kdoctools-dev,
               kinit-dev (>= 5.2.0),
               libgrantlee5-dev,
               libkf5archive-dev,
               libkf5bookmarks-dev,
               libkf5config-dev (>= 5.2.0),
               libkf5coreaddons-dev,
               libkf5dbusaddons-dev,
               libkf5doctools-dev,
               libkf5i18n-dev,
               libkf5khtml-dev (>= 5.2.0),
               libkf5service-dev,
               libkf5windowsystem-dev,
               libxapian-dev,
               libxml2-dev,
               pkg-config,
               pkg-kde-tools (>= 0.15.18~),
               qtbase5-dev (>= 5.4.0~)
Standards-Version: 3.9.8
Homepage: https://projects.kde.org/projects/kde/workspace/khelpcenter
Vcs-Browser: https://anonscm.debian.org/git/pkg-kde/plasma/khelpcenter.git
Vcs-Git: https://anonscm.debian.org/git/pkg-kde/plasma/khelpcenter.git

Package: khelpcenter
Architecture: any
Depends: kdoctools5, kinit, ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}
Recommends: man-db
Breaks: khelpcenter4 (<< 4:5.0.0), ${kde-l10n:all}
Replaces: khelpcenter4 (<< 4:5.0.0), ${kde-l10n:all}
Description: KDE documentation viewer
 KHelpCenter uses meta data files which describe the documentation
 available in the system. Each document is represented by a meta data
 file and shown as an entry in the KHelpCenter navigation tree view.
 The meta data contains information about title and short description
 of the document, the location of the document and some more
 information like how to search the document and translations of title
 and description. Document hierarchy is represented as hierarchy of
 the meta data files. Directories are also described by a meta data
 file which contains the same information as a document meta data
 file.

Package: khelpcenter4
Section: oldlibs
Priority: extra
Architecture: all
Depends: khelpcenter, ${misc:Depends}
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.
